td{ 
 	font-family:Arial; 
  	font-size:12px; 
 	color:gray; 
 	line-height:2em; 
 } 
 a{ 
 	color:#727272; 
 	text-decoration:none; 
 } 
 
 
 a:link{ 
 			color:727272; 
 		} 
 a:visited{ 
 			color:#72727272; 
 		} 
 a:hover{ 
 			text-decoration: underline; 
 		} 
 a:active{ 
 			color:#727272; 
 		} 
 .white{ 
 	color:white; 
 	font-weight: 800; 
 	font-size:14px; 
 } 
 .white:hover{ 
 	text-decoration: none; 
 	color:#b9f605; 
 } 
 #color{ 
 	color:#fdb306; 
 } 
